{{- 'template-account.css' | asset_url | stylesheet_tag -}}

<div class="customer customer-form-box width--100 mx-auto round p-30 md-up--p-60 bg-color--white" style="border: 1px solid var(--color-border);">
  <h1 class="h3 mb-30">
    {{- 'customer.reset_password.title' | t -}}
  </h1>
  <div class="rte rte--md mb-30">
    <p>
      {{- 'customer.reset_password.subtext' | t -}}
    </p>
  </div>
  {%- form 'reset_customer_password' -%}
    {%- if form.errors contains 'form' -%}
      <div class="form-msg form-msg--error mb-20 critical-hidden" tabindex="-1" autofocus>
        {{- form.errors.messages['form'] -}}
      </div>
    {%- endif -%}

    <div class="field">
      <input class="field__input{% if form.errors contains 'password' %} input--error{% endif %}"
        type="password"
        name="customer[password]"
        id="password"
        autocomplete="new-password"
        placeholder="{{ 'customer.reset_password.password' | t }}"
        aria-required="true"
        required
        {% unless form.errors %}
          autofocus
        {% endunless %}
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="password-error"
        {%- endif -%}
      >
      <label for="password" class="field__label">
        {{- 'customer.reset_password.password' | t }}
        <span class="color--red" aria-label="Required">*</span>
      </label>
    </div>
    {%- if form.errors contains 'password' -%}
      <div id="password-error" class="text--xs text--semibold color--red mt-5">
        {{- form.errors.translated_fields.password | capitalize }}
        {{ form.errors.messages.password -}}
      </div>
    {%- endif -%}
    <div class="mt-30">
      <div class="field">
        <input class="field__input{% if form.errors contains 'password_confirmation' %} input--error{% endif %}"
          type="password"
          name="customer[password_confirmation]"
          id="password_confirmation"
          autocomplete="new-password"
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
          aria-required="true"
          required
          {% if form.errors contains 'password_confirmation' %}
            aria-invalid="true"
            aria-describedby="password_confirmation-error"
          {%- endif -%}
        >
        <label for="password_confirmation" class="field__label">
          {{- 'customer.reset_password.password_confirm' | t }}
          <span class="color--red" aria-label="Required">*</span>
        </label>
      </div>
      {%- if form.errors contains 'password_confirmation' -%}
        <div id="password_confirmation-error" class="text--xs text--semibold color--red mt-5">
          {{- form.errors.translated_fields.password_confirmation | capitalize }}
          {{ form.errors.messages.password_confirmation -}}
        </div>
      {%- endif -%}
    </div>
    <div class="mt-40">
      <button class="button button--primary button--xl width--100" type="submit">
        {{- 'customer.reset_password.submit' | t -}}
      </button>
    </div>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Reset Password",
  "class": "bg-color--gray-off-white page-width page-top--lg page-section account--main",
  "settings": [
  ]
}
{% endschema %}
