
{{- 'component-cards.css' | asset_url | stylesheet_tag -}}

{%- liquid
if collection.metafields.custom.desktop_image != blank
	assign backgroundImageDesktop = collection.metafields.custom.desktop_image
	if collection.metafields.custom.mobile_image != blank
		assign backgroundImageMobile = collection.metafields.custom.mobile_image
	else
		assign backgroundImageMobile = backgroundImageDesktop
	endif
endif
-%}

{%- style -%}
#shopify-section-{{ section.id }} .collection-banner {
	min-height: 36rem;
	padding: 3rem 2.4rem;
}
#shopify-section-{{ section.id }} .collection-banner picture:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.45);
}
@media (max-width: 399px) {
	#shopify-section-{{ section.id }} h1 {
		font-size: 3rem
	}
}
@media (min-width: 400px) and (max-width: 479px) {
	#shopify-section-{{ section.id }} h1 {
		font-size: 3.5rem
	}
}
@media (min-width: 640px) {
	#shopify-section-{{ section.id }} .collection-banner {
		padding-inline: 3.5rem;
	}
	#shopify-section-{{ section.id }} .collection-banner--content .rte {
		width: 60%;
		max-width: 50rem;
	}
}
@media (min-width: 768px) {
	#shopify-section-{{ section.id }} .collection-banner picture:after {
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.55) 1.18%, rgba(102, 102, 102, 0.00) 100%);
	}
}
@media (min-width: 1024px) {
	#shopify-section-{{ section.id }} .collection-banner {
		min-height: 50rem;
		padding-inline: 5rem;
	}
	#collection--banner-{{ section.id }} .collection-banner--content {
		width: 75rem;
	}
}
#shopify-section-{{ section.id }} .collection--description {
	border-top: 1px solid #D9D9D9;
	padding: 4rem 0;
}
{%- endstyle -%}

{%- paginate collection.products by 20 -%}
  {%- if collection.metafields.custom.desktop_image != blank or collection.metafields.custom.mobile_image != blank -%}
		<div id="collection-banner--{{ section.id }}" class="d--flex collection-banner flex-between flex-column round relative color--white mb-20">
			<picture class="height--100 width--100" style="position: absolute;left:0;top:0;z-index: 0;">
				<source
					media="(min-width: 1024px)"
					srcset="{{ backgroundImageDesktop | image_url: width: 600 }} 600w, {{ backgroundImageDesktop | image_url: width: 1200 }} 1200w, {{ backgroundImageDesktop | image_url: width: 2000 }} 2000w"
					>
				<img
					style="object-fit: cover;"
					class="height--100 width--100 d--block"
					srcset="{{ backgroundImageMobile | image_url: width: 600 }} 600w, {{ backgroundImageMobile | image_url: width: 1200 }} 1200w, {{ backgroundImageMobile | image_url: width: 2000 }} 2000w"
					fetchpriority="high"
				>
			</picture>
			<div class="height--100 width--100 relative z-index--1 d--flex flex-grow flex-wrap--wrap align-items--center">
				<div class="collection-banner--content width--100">
					<div class="section-header mt-20 mb-20">
						<h1>{{ collection.title }}</h1>
						{%- if collection.metafields.custom.subtitle != blank -%}
							<div class="rte rte--lg links-underline text--semibold">
								{{- collection.metafields.custom.subtitle | metafield_tag | replace: '<span','<p' | replace: '</span>','</p>' -}}
							</div>
						{%- endif -%}
					</div>
				</div>
			</div>
		</div>
	{%- else -%}
		<div class="section-header page-top mb-20">
			<h1>{{ collection.title }}</h1>
			{%- if collection.metafields.custom.subtitle != blank -%}
				<div class="rte--lg links-underline">
					{{- collection.metafields.custom.subtitle | metafield_tag | replace: 'metafield-rich_text_field','collection--subtitle' -}}
				</div>
			{%- endif -%}
		</div>
	{%- endif -%}
	<aside id="main-collection-filters"	data-id="{{ section.id }}">
		{%- render 'component-facets',
		results: collection,
		enable_filtering: section.settings.enable_filtering,
		enable_sorting: section.settings.enable_sorting,
		filter_type: section.settings.filter_type,
		paginate: paginate
		-%}
	</aside>
	<div class="product-grid-container"	id="ProductGridContainer">
	{%- if collection.products.size == 0 -%}
		<div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
			<div class="loading-overlay gradient"></div>
			<div class="title-wrapper center">
				<h2 class="title title--primary">
					{{- 'sections.collection_template.empty' | t -}}
					<br>
					{{- 'sections.collection_template.use_fewer_filters_html'	| t: link: collection.url, class: 'link' -}}
				</h2>
			</div>
		</div>
	{%- else -%}
		<div class="collection{% if collection.description != blank %} page-section{% endif %}">
			<div class="loading-overlay"></div>
			<div id="product-grid" data-id="{{ section.id }}" class="grid product-grid">
				{%- for product in collection.products -%}
					<div class="grid__item sm--33 xs--50 md--33 lg-up--20 page-section--md">
						{%- liquid if forloop.index > 6
							assign lazyLoad = true
						else
							assign lazyLoad = false
						endif
						render 'component-card-product' product: product, lazyLoad: lazyLoad -%}
					</div>
				{%- endfor -%}
			</div>
			{%- if paginate.pages > 1 -%}
				{%- render 'component-pagination' paginate: paginate, class: 'mt-30' -%}
			{%- endif -%}
		</div>
	{%- endif -%}
{%- endpaginate -%}

{%- if collection.description != blank -%}
	<div class="collection--description d--flex gap-20 lg-down--flex-column lg-down--v-gap-20">
		<div class="collection--title_bottom lg-up--50">
			<h3>{{ collection.title }}</h3>
		</div>
		<div class="rte rte--md rte--list collection-description links-underline lg-up--50">
			{{- collection.description -}}
			{%- if collection.metafields.custom.more_description != blank -%}
				<tcg-click-to-reveal class="js-click-to-reveal mt-20">
					<button type="button" class="js-click-to-reveal-trigger link" data-more="{{ 'general.labels.more' | t }}" data-less="{{ 'general.labels.less' | t }}" aria-controls="collection-description-more">
						{{- 'general.labels.more' | t -}}
					</button>
					<div id="collection-description-more" class="js-click-to-reveal-text mt-20">
						{{- collection.metafields.custom.more_description | metafield_tag -}}
					</div>
				</tcg-click-to-reveal>
			{%- endif -%}
		</div>
	</div>
{%- endif -%}


{% schema %}
{
	"name": "Main Collection",
	"class": "page-section page-width",
	"settings": [

	]
}
{% endschema %}
