{%- if predictive_search.performed -%}
  {{- 'component-cards.css' | asset_url | stylesheet_tag -}}
  <div class="predictive-container">
    {%- if predictive_search.types contains 'collection' or predictive_search.types contains 'page' or predictive_search.types contains 'article' -%}
      <div class="left-sidebar-predictive">
        {%- if predictive_search.types contains 'collection' -%}
          <p class="search-modal__heading mb-5 text--bold" id="predictive-search-collections">
            {{- 'layout.header.search.collections' | t -}}
          </p>
          <ul class="list-unstyled mb-30" role="listbox" aria-labelledby="predictive-search-collections">
            {%- for collection in predictive_search.resources.collections -%}
              <li class="mb-10" role="option">
                <a class="hover-underline" href="{{ collection.url }}">
                  {{- collection.title -}}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        {%- if predictive_search.types contains 'page' -%}
          <p class="search-modal__heading mb-5 text--bold" id="predictive-search-pages">
            {{- 'layout.header.search.pages' | t -}}
          </p>
          <ul class="list-unstyled mb-30" role="listbox" aria-labelledby="predictive-search-pages">
            {%- for page in predictive_search.resources.pages -%}
              <li class="mb-10" role="option">
                <a class="hover-underline" href="{{ page.url }}">
                  {{- page.title -}}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        {%- if predictive_search.types contains 'article' -%}
          <p class="search-modal__heading mb-5 text--bold" id="predictive-search-articles">
            {{- 'layout.header.search.articles' | t -}}
          </p>
          <ul class="list-unstyled mb-30" role="listbox" aria-labelledby="predictive-search-articles">
            {%- for article in predictive_search.resources.articles limit: 2 -%}
              <li class="mb-10" role="option">
                <a class="hover-underline" href="{{ article.url }}">
                  {{- article.title -}}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="predictive-search-products flex-grow">
      <p class="search-modal__heading mb-5 text--bold" id="predictive-search-products">
        {{- 'layout.header.search.products' | t -}}
      </p>
      {%- if predictive_search.resources.products.size > 0 -%}
        <div class="search-product-container d--grid" role="listbox" aria-labelledby="predictive-search-products">
          {%- for product in predictive_search.resources.products -%}
            {%- render 'component-card-product', product: product, lazyLoad: true, showDescription: false -%}
          {%- endfor -%}
        </div>
        <div class="text--center mt-30">
          <a class="link text--semibold" href="{{ routes.search_url }}?q={{ predictive_search.terms | escape }}&type=product">
            {{- 'layout.header.search.view_all_products' | t -}}
          </a>
        </div>
      {%- else -%}
        <div class="form-msg form-msg--error">
          {{- 'layout.header.search.no_products' | t -}}
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}